<div class="container">
  <h1>All Students</h1>
  <div class="row">
    <% @students.each do |student| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <%= image_tag "6461.jpg", class: "card-img-top", alt: student.name, style: "height: 200px; object-fit: cover;" %>
          <div class="card-body">
            <h5 class="card-title"><%= student.name %></h5>
            <p class="card-text">
              <strong>Email:</strong> <%= student.email %><br>
              <strong>Phone:</strong> <%= student.phone_no %>
            </p>
            <%= link_to "Show student details", admin_student_path(student), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>