<h1>courses</h1>
<% @courses.each do |course| %>
<table>
    <tr>
        <td><%= course.course_name %></td>
        <td><%= course.course_hour %></td>
        <td><%= course.price %></td>
        <td><%= course.tags.map(&:name).join(", ") %></td>
         <td><%= link_to "Show", student_course_path(course) %> </td>
      </tr>
</table>
<% end %>