<h3>Edit Comment</h3>
<p class="notice"><%= flash[:notice] %></p>

<%= form_with model: [:admin, @student, @comment], local: true do |f| %>
  <%= f.text_area :content %><br>
  <%= f.submit "Update Comment" %>
<% end %>

<%= link_to "Back", admin_student_path(@student) %>
