<%= form_with model: [:admin, @course] do |f| %>
  <div class="mb-3 field col-sm-3">
    <%= f.label :course_name ,class:"form-label" %><br>
    <%= f.text_field :course_name, placeholder: "enter course name" , class: "form-control "%>
  </div>
  <div class="mb-3 field col-sm-3">
    <%= f.label :course_hour ,class:"form-label"%><br>
    <%= f.number_field :course_hour, placeholder: "enter course hours" , class: "form-control " %>
  </div>
  <div class="mb-3 field col-sm-3">
   <%= f.label :price ,class:"form-label"%><br>
    <%= f.number_field :price , placeholder: "enter price of the course" , class: "form-control "%>
  </div>
  <div class="mb-3 field col-sm-3">
    <%= f.label :description ,class:"form-label"%><br>
    <%= f.text_area :description, placeholder: "enter description if any" , class: "form-control "%>
  </div>
  <div class="field mb-3 form-check"">
    <%= f.label :tag_ids, "Tags" ,class: "form-check-label"%><br>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name ,class: "form-check-input"%>
  </div>
  <%= f.submit %>
<% end %>
