<h1>deleting course</h1>
<p>Are you sure you want to delete this course?</p>
<p><strong>Course Name:</strong> <%= @course.course_name %></p>
<p><strong>Hours:</strong> <%= @course.course_hour %></p>
<p><strong>Price:</strong> <%= @course.price %></p>
<p><strong>Description:</strong> <%= @course.description %></p>
<p><strong>Tags:</strong> <%= @course.tags.map(&:name).join(", ") %></p>
